.multi-select-filter {
    width: 100%;
    min-width: 300px;
    max-width: 800px;
    background: $light-200;
    padding: $spacing-5;
    border-radius: $radius-3;
    border: $spacing-05 solid $light-400;

  .list-container {
    height: calc(100vh - 310px);
    display: flex;
  }
  
  .apply-btn {
    background: $primary-200;
    color: $light-100;
    border: none;
    padding: $spacing-4;
    width: 100%;
    margin-top: $spacing-2;
    border-radius: $radius-2;
    font-size: $font-size-4;
    margin-bottom: $spacing-4;
    cursor: pointer;
  }
}
